<flash-messages></flash-messages>
<mat-card>
  <mat-card-title>
    Edit Client
  </mat-card-title>
  <mat-card-content>
    <form
    fxLayout="column"
    class="form"
    fxLayoutGap="15px"
    [formGroup]="editForm"
    (ngSubmit)="editClient()">
      <div>
        <mat-form-field>
          <input
          matInput
          placeholder="first name"
          formControlName="firstName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
          matInput
          placeholder="last name"
          formControlName="lastName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
          matInput
          placeholder="email address"
          formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
          matInput
          placeholder="phone number"
          formControlName="phone">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
          matInput
          placeholder="balance amount"
          formControlName="balance">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button class="btn">Edit</button>
    </form>
  </mat-card-content>
</mat-card>




